{% if messages %}
{% for msg in messages %}
<div class="alert {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <i class="fa-solid fa-triangle-exclamation"></i>
  {% else %}
  <i class="fa-solid fa-circle-check"></i>
  {% endif %}
  {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}