{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %} - Buku Telepon</title>
  </head>
  <body class="text-bg-light">

    <!-- Head -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="{% url 'index' %}"><i class="fa-solid fa-address-book"></i> BUKU TELEPON</a>
      </div>
    </nav>

    <!-- Body -->
    <div class="container my-4">{% block content %}{% endblock %}</div>
    
    <!-- Foot -->
    <footer class="text-center text-lg-start text-muted">
      <div class="text-center text-bg-secondary p-3">
        © Konversi S1 Sistem Informasi 2022
      </div>
    </footer>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
