{% extends "components/base.html" %}
{% block title %}
  Ubah Data
{% endblock title %}
{% block content %}
  <!-- Breadcrumb -->
  <nav class="bsbc" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Ubah Data</li>
    </ol>
  </nav>
  <!-- Content -->
  {% include 'components/form.html' with title="Ubah Data" button="Ubah" %}
{% endblock content %}
